.canvas {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f0f0f0;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  position: absolute;
  cursor: grab;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #595959;
  user-select: none;
}

/* .element:hover {
  border: 1px solid rgba(224, 175, 175, 0.981); 
}

.element.selected {
  border: 2px solid #D95409;
}

.element:active {
  cursor: grabbing;
} */

.label-element {
  position: absolute;
  padding: 10px;
  cursor: grab;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #595959;
  user-select: none;
}

.input-element {
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-family: 'Open Sans';
}


.button-element {
  font-size: 16px;
  font-weight: 400;
  padding: 12px 14px;
  background-color: #0044c1;
  color: #ffffff;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border: none;
  cursor: grab;
  align-items: center;
}

.label-element:hover {
  border: 1px solid rgba(224, 175, 175, 0.981); 
}

.label-element:active {
  cursor: grabbing;
  border: 2px solid #D95409;
}

.input-element:hover {
  border: 1px solid rgba(224, 175, 175, 0.981); 
}

.input-element:active {
  cursor: grabbing;
  border: 2px solid #D95409;
}

.button-element:hover {
  border: 1px solid rgba(224, 175, 175, 0.981); 
}


.button-element:active {
  cursor: grabbing;
  border: 2px solid #D95409;
}